# DATABASE (MySQL/MariaDB)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=orbitra
MYSQL_USER=orbitra_user
MYSQL_PASSWORD=orbitra_pass
DATABASE_URL="mysql://orbitra_user:orbitra_pass@db:3306/orbitra"

# BACKEND
PORT=3333
JWT_SECRET=super-secret-key-change-me-in-production
NODE_ENV=development

# FRONTEND
VITE_API_URL=http://localhost:3333/api
CHOKIDAR_USEPOLLING=true
