DATABASE_URL="mysql://dev:dev123@db:3306/orbitra_dev"
DATABASE_HOST=db
DATABASE_USER=dev
DATABASE_PASSWORD=dev123
DATABASE_NAME=orbitra_dev
DATABASE_PORT=3306

MYSQL_DATABASE=orbitra_dev
MYSQL_USER=dev
MYSQL_PASSWORD=dev123
MYSQL_ROOT_PASSWORD=root

NODE_ENV=development #development | production
